In [12]:
list1=['bala',50,5.5]
list1

['bala', 50, 5.5]

In [13]:
list1.append("veni")
list1

['bala', 50, 5.5, 'veni']

In [14]:
list1.clear()
list1

[]

In [15]:
list1=['bala',50,5.5]
newlist=list1
print("New list is: ", newlist)
print("Old list is: ", list1)

New list is:  ['bala', 50, 5.5]
Old list is:  ['bala', 50, 5.5]

In [16]:
list1.append(73.5)
list1.count(73.5)

1

In [17]:
list1.extend(newlist)
list1

['bala', 50, 5.5, 73.5, 'bala', 50, 5.5, 73.5]

In [18]:
list1.index(50)

1

In [19]:
list1.insert(4,"Letsupgrade")
list1

['bala', 50, 5.5, 73.5, 'Letsupgrade', 'bala', 50, 5.5, 73.5]

In [20]:
list1.pop(3)      
newlist

['bala', 50, 5.5, 'Letsupgrade', 'bala', 50, 5.5, 73.5]

In [21]:
newlist.remove('Letsupgrade')
newlist

['bala', 50, 5.5, 'bala', 50, 5.5, 73.5]

In [22]:
list1

['bala', 50, 5.5, 'bala', 50, 5.5, 73.5]

In [23]:
newlist.reverse()
newlist

[73.5, 5.5, 50, 'bala', 5.5, 50, 'bala']

In [24]:
lista=['b','a','l','u']
lista.sort()
lista

['a', 'b', 'l', 'u']

# DICTIONARY

In [25]:
dict={1:'one',2:'two'}
dict

{1: 'one', 2: 'two'}

In [26]:
new=dict.copy()
print("New dict is:",new)

New dict is: {1: 'one', 2: 'two'}

In [27]:
keys={'b','a','l','u'}
values= 'alphabet'
dict1=dict.fromkeys(keys,values)
dict1

{'l': 'alphabet', 'u': 'alphabet', 'b': 'alphabet', 'a': 'alphabet'}

In [28]:
print(dict.get(1))
print(dict1.get('b'))

one
alphabet

In [29]:
print(dict.items())

dict_items([(1, 'one'), (2, 'two')])

In [31]:
print(dict1.keys())

dict_keys(['l', 'u', 'b', 'a'])

In [32]:
dict1.pop('u')
dict1

{'l': 'alphabet', 'b': 'alphabet', 'a': 'alphabet'}

In [33]:
dict.setdefault(1)

'one'

# SETS

In [34]:
set={"sai",1,3,3,2,6,6}
set.add(8)
set

{1, 2, 3, 6, 8, 'sai'}

In [35]:
numbers={1,2,3}
newnumbers=numbers.copy()
print(newnumbers)
newnumbers.add(4)
print(newnumbers)

{1, 2, 3}
{1, 2, 3, 4}

In [36]:
set1={1,2,3,4,5}
set2={3,6,7}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 4, 5}
{6, 7}

In [37]:
print(set1.difference_update(set2))

None

In [38]:
set1.discard(2)
set1

{1, 4, 5}

In [39]:
set2={1,3,6}
print(set2.intersection(set1))

print(set.intersection_update(set2))

print(set1.isdisjoint(set2))

print(set1.issubset(set2))

print(set2.issuperset(set1))

{1}
None
False
False
False

In [40]:
print(set1.pop())

print(set1)
print(set2)

1
{4, 5}
{1, 3, 6}

In [41]:
set2.remove(1)
set2

{3, 6}

In [42]:
set1={'a','b','c','d'}
set2={'c','d','e'}
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))

print(set1.union(set2))

{'e', 'b', 'a'}
None
{'d', 'b', 'a', 'c', 'e'}

In [43]:
result=set1.update(set2)
print(set1)
print(result)

{'a', 'd', 'b', 'c', 'e'}
None

In [44]:
set1.clear()
set2.clear()
print(set1)
print(set2)

set()
set()

# TUPLE

In [45]:
tup=("sai","@","sai")
tup

('sai', '@', 'sai')

In [46]:
tup.count('sai')

2

In [47]:
tup.index('sai')

0

# STRING

In [48]:
str="python"
str.capitalize()

'Python'

In [49]:
string='PYTHON'
print("lowercase string:",string.casefold())

lowercase string: python

In [50]:
result=string.endswith('N')
print(result)

True

In [51]:
encode=string.encode()
print("The encoded version is:",encode)

The encoded version is: b'PYTHON'

In [52]:
print(string.swapcase())

python

In [53]:
string.find('Y')

1

In [54]:

s='\nnew line is printable'
print(s)
print(s.isprintable())

new line is printable
False